.newsSidebar {
  width: 100%;
  height: 100%;
  background: white;
  padding: 0px 40px 0px 0px;
  overflow-y: auto;
}

.newsHeader {
  margin-bottom: 6px;
}

.newsHeader h3 {
  background: #f2f2f2;
  border-radius: 14px;
  padding: 8px 16px;
  text-align: center;
  font-size: 16px;
  font-family: 'Sen', 'Noto Sans KR', sans-serif;
  font-weight: 500;
  color: #585858;
  margin: 0;
  width: 100px;
}

.newsList {
  display: flex;
  flex-direction: column;
}

.newsItem {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 11px;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.newsItem:hover {
  background-color: #f5f5f5;
}

.newsContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.newsTitle {
  font-size: 14px;
  font-family: 'Sen', 'Noto Sans KR', sans-serif;
  font-weight: 600;
  color: #4b4b4b;
  line-height: 1.5;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.newsTime {
  font-size: 12px;
  font-family: 'Sen', 'Noto Sans KR', sans-serif;
  font-weight: 600;
  color: #a6a6a6;
}

.newsImage {
  width: 70px;
  height: 64px;
  background: #ebebeb;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-family: 'Sen', sans-serif;
  font-weight: bold;
  color: black;
  flex-shrink: 0;
}
