.dashboard {
  background: white;
  min-height: 100vh;
  width: 100%;
}

.container {
  padding: 21px;
  max-width: 1920px;
  margin: 0 auto;
}



.tabHeader {
  display: flex;
  gap: 0;
  margin-bottom: 30px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 24px;
}

.tab {
  padding: 12px 24px;
  border: none;
  background: none;
  font-size: 19.083px;
  font-family: 'Inter', sans-serif;
  color: #4a5565;
  cursor: pointer;
  border-bottom: 1.607px solid #4a5565;
  position: relative;
}

.tab.active {
  color: black;
  border-bottom-color: black;
}

.tablesContainer {
  display: flex;
  flex-direction: column;
  gap: 38px;
  margin-top: 40px;
}